.my-custom-input {
  font-size: 25px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: -webkit-fill-available;
  background-color: #FFFFFF;
}

#button{
  font-size: 25px;

  margin-top: 20px;
  margin-bottom: 20px;
}

#title{
  text-align: center;
  font-size: 30px;
}